.explorerHome{
    border-bottom: 1px solid #ddd;
}
.explorerHome ul{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorerHome ul li{
    margin: 0px 10px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #ddd;
}